* {
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  background: #000;
}
.navbar ul {
  padding: 0;
  padding: 20px 0;
}
.navbar ul li {
  display: inline-block;
  margin: 0 1rem;
}

.navbar ul li a {
  color: #fff;
}

.container{
  padding: 20px;
  background: #efefef;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

ul.animal-list {
  width: 100%;
  outline: 1px solid #999;
}

ul.animal-list .item {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

ul.animal-list .item img{
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
}

.process {
  color: red;
}